#banner{
  overflow: hidden;
  height: 500px;
  box-sizing: border-box;
  padding: 8px 8px 8px 8px; 
}

.watch-btn{
  background-color: #db3236;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 550;
  border-radius: 0;
}

.watch-btn:hover{
  color: white;
  background-color: #FF771B;
}

.inner{
  position: relative;
  top: 120px;
  left: 90px;
  width: 350px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.inner .tit{
  color: black;
}

.inner .des{
  color: black;
  font-size: 14px;
}

.slider-item{
  display: none;
  width: 0;
  height: 0;
  transition: opacity 1s ease-out;
  opacity: 0;
  overflow: hidden;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.4);
}

.Visible{
  display: inline-block;
  width: 100%;
  opacity: 1;
  height: 100%;
  -webkit-animation: fadeIn 4s;
  animation: fadeIn 4s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.below{
  position: relative;
  text-align: center;
  left: 2%;
  bottom: 20%;
}
.below p .active{
  background: none;
  width: 13px;
  height: 13px;
  border: 2px solid #359768;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #359768;;
  display: inline-block;
  margin: 0 2px 0 2px;
}

.nav-btn{
  background-color: transparent;
  position: relative;
  font-size: 28px;
  color:#359768;;
  z-index: 1;
  bottom: 300px;
  cursor: pointer;
}

.nav-btn:focus {
  border: none !important;
  outline: none !important;
}

.btn i:focus{
  outline: none;
  border: none;
}

.next-button{
  transition: background 0.5s;
  float: right;
  right: 0;
}

.back-button{
  transition: background 0.5s;
}