#row{
  margin: 20px 9px;
  height: 340px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

#row-head{
  padding: 12px;
}

#row-head h4{
  font-family: 'Roboto';
  
}

#row-body{
  padding-top: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  padding-bottom: 20px;
}

#row-body::-webkit-scrollbar{
  display: none;
}

#row-body img{
  height: 230px;
  width: 160px;
  border: 1px solid #359768;
}

.mv-card{
  margin: 0 10px;
  cursor: pointer; 
}

.mv-card:hover{
  box-shadow: 12px 10px 20px rgba(0, 0, 0, 0.3), -10px -8px 10px rgba(0, 0, 0, 0.2);
}

.meta-data{
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: -220px;
  width: 150px;
  overflow: hidden;
  transition: all 0.5s;
}