#sidebar{
  z-index: 2;
  position: fixed;
  height: 100%;
  background-color: #2A363B;
  box-shadow: inset 3px 9px 20px rgba(0, 0, 0, 0.4);
  margin: 0;
  transition: 0.2s all;
  overflow: hidden;
  padding-top: 54px;
}
#sidebar ul{
  list-style-type: none;
  padding:0px 0 8px 0;
  width:100%;
}
#sidebar ul li a{
  color: #ace6c0;
}
.hidden{
  width: 50px;
}
.hidden ul{
  padding: 0;
}

.hidden ul li{
  padding: 6px 12px 6px 12px;
  font-size: 22px;
  cursor: pointer;
}
.hidden ul li a:hover{
  color: white;
}
.visible{
  width: 260px;
}
.visible ul li{
  color: white;
  padding: 12px 12px 12px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.visible ul li i{
  margin-right: 20px;
}
#sidebar ul li .fa-caret-down{
  margin-left: 70px;
  margin-right: 0;
}
#sidebar ul li:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
#sidebar ul .active{
  color: black;
  background: #ace6c0;
}

#sidebar ul .active a{
  color: black;
}

#sidebar ul .active:hover{
  background-color: #ace6c0;
}