#bannerWraper{ 
  padding: 8px 8px 8px 8px;
}
.banner{
  height: 500px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.4);
}

.play-icon{
  color: #359768;
  font-size: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0.7);
}

.play-icon i{
  cursor: pointer;
  margin-top: 15%;
  box-shadow: 0 0 10px rgba(0, 0, 0.7)
}

.info{
  padding-top: 30px;
}

.poster{
  height: 200px;
  width: 150px;
  margin-right: 20px;
  margin-left: 20px;
}

.thumb{
  display: flex;
}

.genre{
  background-color: #359768;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: black;
}

.meta-info{
  display: flex;
  justify-content: space-around;
  padding: 15px 60px 15px 60px;
}

.left{
  margin-right: 20px;
}